In [1]:
import pandas as pd
student_dict = {'name':['sri','ram','hari'], 'age':[23,25,24], 'cgpa':[9.2,8.2,7.2]}
sdf = pd.DataFrame(student_dict)
sdf

   name  age  cgpa
0   sri   23   9.2
1   ram   25   8.2
2  hari   24   7.2

In [3]:
sdf.T  #transpose of the DataFrame.

        0    1     2
name  sri  ram  hari
age    23   25    24
cgpa  9.2  8.2   7.2

In [5]:
sdf

   name  age  cgpa
0   sri   23   9.2
1   ram   25   8.2
2  hari   24   7.2

In [4]:
sdf.axes  #Returns the list of row axis labels and column axis labels.

[RangeIndex(start=0, stop=3, step=1),
 Index(['name', 'age', 'cgpa'], dtype='object')]

In [13]:
sdf.dtypes  #Returns the data type of each column.

name     object
age       int64
cgpa    float64
dtype: object

In [7]:
sdf.empty  #Returns the Boolean value saying whether the Object is empty or not

False

In [8]:
sdf.ndim   #how many dimensionsal the object is

2

In [9]:
sdf.shape #Returns a tuple representing the dimensionality of the DataFrame. 
          #Tuple (a,b), where a represents the number of rows and b represents the number of columns.

(3, 3)

In [10]:
sdf.size  #no of elements in a dataframe

9

In [11]:
sdf.values #Returns the actual data in the DataFrame as an NDarray.

array([['sri', 23, 9.2],
       ['ram', 25, 8.2],
       ['hari', 24, 7.2]], dtype=object)

In [16]:
#sdf.head(1) #returns one head record
#sdf.tail(1) #returns one tail record
#sdf.head() #by default it returns 5 records