In [1]:
#In order to iterate over rows, we can use three function iteritems(), iterrows(), itertuples()
import pandas as pd
my_dict = {'name': ['rohit','dhawan','kohli','pandya','pant','dhoni',], 'age':[27,28,25,25,24,30], 'score':[100,63,88,34,45,35]}
df = pd.DataFrame(my_dict)
df

     name  age  score
0   rohit   27    100
1  dhawan   28     63
2   kohli   25     88
3  pandya   25     34
4    pant   24     45
5   dhoni   30     35

In [6]:
for i,j in df.iterrows():
    print(i  , j,'\n')

0 name     rohit
age         27
score      100
Name: 0, dtype: object

1 name     dhawan
age          28
score        63
Name: 1, dtype: object

2 name     kohli
age         25
score       88
Name: 2, dtype: object

3 name     pandya
age          25
score        34
Name: 3, dtype: object

4 name     pant
age        24
score      45
Name: 4, dtype: object

5 name     dhoni
age         30
score       35
Name: 5, dtype: object

In [7]:
for key,value in df.iteritems():
    print(key , value, '\n')

name 0     rohit
1    dhawan
2     kohli
3    pandya
4      pant
5     dhoni
Name: name, dtype: object

age 0    27
1    28
2    25
3    25
4    24
5    30
Name: age, dtype: int64

score 0    100
1     63
2     88
3     34
4     45
5     35
Name: score, dtype: int64

In [9]:
for tup in df.itertuples():
    print(tup)

Pandas(Index=0, name='rohit', age=27, score=100)
Pandas(Index=1, name='dhawan', age=28, score=63)
Pandas(Index=2, name='kohli', age=25, score=88)
Pandas(Index=3, name='pandya', age=25, score=34)
Pandas(Index=4, name='pant', age=24, score=45)
Pandas(Index=5, name='dhoni', age=30, score=35)

In [10]:
col_list = df.columns.tolist()
for col in col_list:
    print(col)

name
age
score

In [12]:
for col in col_list:
    print(df[col][3])

pandya
25
34