In [15]:
import pandas as pd
c = pd.Categorical(['male','female','female','male'])
print(c)

[male, female, female, male]
Categories (2, object): [female, male]

In [16]:
gender = pd.Categorical(['male','female','female','others','male'],['male','female'])
print(gender)

[male, female, female, NaN, male]
Categories (2, object): [male, female]

In [20]:
name = pd.Series(['sri','rani','jaya','maya','raj'])
df = pd.DataFrame({'gender': gender,'name':name})
df

   gender  name
0    male   sri
1  female  rani
2  female  jaya
3     NaN  maya
4    male   raj

In [24]:
import numpy as np

cat = pd.Categorical(["a", "c", "c", np.nan], categories=["b", "a", "c"])
df = pd.DataFrame({"cat":cat, "s":["a", "c", "c", np.nan]})
#df
#df.describe()
df["cat"].describe()

count     3
unique    2
top       c
freq      2
Name: cat, dtype: object

In [25]:
#obj.cat.categories command is used to get the categories of the object
cat.categories

Index(['b', 'a', 'c'], dtype='object')

In [26]:
gender.categories

Index(['male', 'female'], dtype='object')

In [27]:
cat.ordered

False

In [28]:
gender.ordered

False

In [35]:
newcat = pd.Categorical(['high','low','medium','min','max'],['high','low','medium'],ordered = True)

In [36]:
newser = pd.Series(['tower','plant','tree','leaf','sky'])

In [37]:
df = pd.DataFrame({'catg':newcat, 'things':newser})

In [38]:
df

     catg things
0    high  tower
1     low  plant
2  medium   tree
3     NaN   leaf
4     NaN    sky

In [39]:
newcat.categories

Index(['high', 'low', 'medium'], dtype='object')

In [40]:
newcat.ordered

True

In [42]:
#Renaming categories is done by assigning new values to the series.cat.categories
newcat.categories = ['size %s'%x for x in newcat.categories]

In [43]:
newcat.categories

Index(['size high', 'size low', 'size medium'], dtype='object')

In [51]:
newcat.add_categories(['s','m','l'],inplace = True)
#newcat.categories

In [52]:
newcat.categories

Index(['size high', 'size low', 'size medium', 's', 'm', 'l'], dtype='object')

In [48]:
newcat.remove_categories("size high")

[NaN, size low, size medium, NaN, NaN]
Categories (2, object): [size low < size medium]

In [53]:
newcat.categories

Index(['size high', 'size low', 'size medium', 's', 'm', 'l'], dtype='object')

In [54]:
newcat.add_categories(['xl'], inplace = True)

In [55]:
newcat.categories

Index(['size high', 'size low', 'size medium', 's', 'm', 'l', 'xl'], dtype='object')

In [56]:
newcat.remove_categories(['xl'], inplace = True)

In [57]:
newcat.categories

Index(['size high', 'size low', 'size medium', 's', 'm', 'l'], dtype='object')

In [63]:
newcat1 = pd.Categorical([1,2,3,4],[1,3,4], ordered = True)
newcat2 = pd.Categorical([3,2,1,4],[1,3,4], ordered = True)
newcat1 < newcat2

array([ True, False, False, False])

In [60]:
df = pd.DataFrame({'cat1':newcat1,'cat2':newcat2})
df

  cat1 cat2
0    1    3
1  NaN  NaN
2    3    1
3    4    4