In [2]:
import pandas as pd
df = pd.read_csv('employees.csv')
df.head(10)

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
0,Douglas,Male,8/6/1993,12:42 PM,97308,6.945,True,Marketing
1,Thomas,Male,3/31/1996,6:53 AM,61933,4.170,True,NaN
2,Maria,Female,4/23/1993,11:17 AM,130590,11.858,False,Finance
3,Jerry,Male,3/4/2005,1:00 PM,138705,9.340,True,Finance
4,Larry,Male,1/24/1998,4:47 PM,101004,1.389,True,Client Services
5,Dennis,Male,4/18/1987,1:35 AM,115163,10.125,False,Legal
6,Ruby,Female,8/17/1987,4:20 PM,65476,10.012,True,Product
7,NaN,Female,7/20/2015,10:43 AM,45906,11.598,NaN,Finance
8,Angela,Female,11/22/2005,6:29 AM,95570,18.523,True,Engineering
9,Frances,Female,8/8/2002,6:51 AM,139852,7.524,True,Business Development

In [2]:
df.columns

Index(['First Name', 'Gender', 'Start Date', 'Last Login Time', 'Salary',
       'Bonus %', 'Senior Management', 'Team'],
      dtype='object')

In [5]:
#taking column name as input and finding null values percentage of that column
import pandas as pd
class NullPercent:
    def __init__(self):
        self.col_name = input('enter column name to check :- ')
        self.df = pd.read_csv('employees.csv')
    def getPercent(self):
        count_without_null = len(self.df[self.col_name])
        null_count = len(self.df[self.df[self.col_name].isnull()])
        percent = (null_count/count_without_null)*100
        print('This column has {0} percent null values'.format(percent))

    
obj = NullPercent()
obj.getPercent()

enter column name to check :- Team
This column has 4.3 percent null values

In [3]:
#mean-sum of all values in a column divided by no. of values in a column
#using mean
class NullPercent:
    def __init__(self):
        self.df = pd.read_csv('employees.csv')
    def getPercent(self):
        bool_df = self.df.isnull()
        print('The below table shows null values percentages in each column:-' )
        print(bool_df.mean()*100)

    
obj1 = NullPercent()
obj1.getPercent()

The below table shows null values percentages in each column:-
First Name            6.7
Gender               14.5
Start Date            0.0
Last Login Time       0.0
Salary                0.0
Bonus %               0.0
Senior Management     6.7
Team                  4.3
dtype: float64

In [4]:
#mean-sum of all values in a column divided by no. of values in a column
#using mean
class NullPercent:
    def __init__(self):
        self.df = pd.read_csv('employees.csv')
    def getPercent(self):
        bool_df = self.df.isnull()
        print('The below table shows null values percentages in each column:-' )
        print((bool_df.mean()*100).sum())

    
obj1 = NullPercent()
obj1.getPercent()

The below table shows null values percentages in each column:-
32.2